
@{
    ViewBag.Title = "OpenImage";
}

<h2>OpeImage</h2>
<h3>Choose boxes with text for better results</h3>
<div>
    <img src="@Url.Content(ViewBag.Path)" alt="Image" height="500" />
</div>
<div>
    <button style="font-size:x-large"> @Html.ActionLink("OcrImage", "OcrImage", "Home")</button>
</div>
