@model List<IronOcr.OcrResult>
@{
    ViewBag.Title = "OcrImage";
}

@* div>p *@


<h2>OcrImage</h2>
<div id="fonter">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
        <p id="pstyle" class="pclass">@item</p>
        }
    }
</div>
<div>
    <button type="button" class="btn btn-default">Make bigger</button>
    <br/>
</div>
@*<div>
    <img src="@Url.Content(ViewBag.Path)" alt="Image" height="500" />
</div>*@

@*<script type="text/javascript">
    function changeFont() {
        var size = document.getElementById('pstyle').style.fontSize;
        var number = size.substring(0, 2);
        var numberInt = parseInt(number);
        numberInt += 2;
        document.getElementById('pstyle').style.fontSize = '44px';
        //$('#pstyle').style.fontSize = numberInt + 'px';
        //document.getElementsByClassName('pclass').style.fontSize = numberInt + 'px';
    }
</script>*@

