<h2>This is your result. Hope we helped :)</h2>

<div class="row">
    <div class="col-md-2 col-xs-12">
        <button id="font_up" type="button" class="btn btn-primary btn-block">Font up!</button>
    </div>
    <div class="col-md-2 col-xs-12">
        <button id="font_down" type="button" class="btn btn-info btn-block">Font down</button>
    </div>
    <div class="col-md-2 col-xs-12">
        <button id="hide_file" type="button" class="btn btn-default btn-block">Hide file</button>
    </div>
</div>



@*<script type="text/javascript">
    $('#font_up').click(fontUp);
    $('#font_down').click(fontDown);

    var THRESHOLD = 2;

    var size = $('p').css('font-size');
    var number = size.substring(0, 2);
    var numberInt = parseInt(number);

    function fontUp() {
        numberInt += THRESHOLD;
        $('p.text_result').css('font-size', numberInt);
    }
    function fontDown() {
        numberInt -= THRESHOLD;
        $('p.text_result').css('font-size', numberInt);
    }

</script>*@