<h2></h2>

<div class="row">
    <div class="row col-md-2">
        <div>
            <button id="font_up" type="button" class="btn btn-primary btn-block">Font up!</button>
        </div>
        <div>
            <button id="font_down" type="button" class="btn btn-info btn-block">Font down</button>
        </div>
        <div>
            <button id="hide_file" type="button" class="btn btn-default btn-block">Hide file</button>
        </div>
    </div>
    <div id="result_child" class="col-md-10">
        <h2>This is your result. Hope we helped :)</h2>

    </div>

</div>
